* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #6a3093, #a044ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;
    padding: 25px;
    background-color: #6a3093;
    border-radius: 10px;
}

.login-box {
    text-align: center;
    color: white;
}

.login-box h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.login-box h3 {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
}

.or {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.8;
}

form {
    text-align: left;
    margin-top: 10px;
}

label {
    font-size: 14px;
    margin: 8px 0;
    display: block;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: transparent;
    color: white;
}

input::placeholder {
    color: #ddd;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.options .forget {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: white;
    color: black;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.signup {
    margin-top: 18px;
    text-align: center;
}

.signup a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

